.side-bar
  .side-bar__user-name
    .side-bar__content
      .side-bar__content-message-left
        = current_user.name
      .side-bar__content-message-right
        .side-bar__icon-list
          .side-bar__icon
          = link_to "#" do
            = icon('far', 'edit',  class: "side-bar__btn--icon")
          .side-bar__icon
            = link_to edit_user_path(current_user) do
              = icon('fas', 'cog',  class: "side-bar__btn--icon")
        
  .side-bar__group-list
    .side-bar__group-name
      %b techcamp
    .side-bar__new-message
      %b まだメッセージがありません
